
.vs/Python__CSUN-Class-Webscraper-And-Notifications/v16/.suo
Python__CSUN-Class-Webscraper-And-Notifications.sln
Python__CSUN-Class-Webscraper-And-Notifications/Python__CSUN-Class-Webscraper-And-Notifications.pyproj
Python__CSUN-Class-Webscraper-And-Notifications/.env
